.productPage .pName {
    font-weight: 600;
}

.quantity {
    display: flex;
    align-items: flex-start;
}

.quantity button {
    padding: 7.5px 15px;
    margin: 20px 10px;
    border: 2px solid rgba(201, 195, 195, 0.63);
    font-weight: bold;
    background-color: rgba(201, 195, 195, 0.63);
    transition: .3s;
}


.quantity h3 {
    margin: 20px 5px;
    border: 1px solid rgb(66, 66, 66);
    padding: 3px 15px;
}

.quantity button:hover {
    background-color: #fff;
    transition: .3s;
    border: 2px solid rgb(124, 124, 124)
}

.productPage .addToCart {
    width: 60%;
    padding: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    transition: .5s;


}

.productPage .addToCart:hover {
    color: #000;
    background-color: #fff;
    transition: .5s;

}

.productPage .fa-star-o {
    margin: 2px;
}

.reviews {
    display: flex;

}

.productPage img {
    width: 100%;
}

.productPage {
    padding: 30px;
}

.productPage .right {
    padding: 50px;
}

.wishlist {
    margin-bottom: 10px;
    width: 60%;
    color: #000;
    background: #fff;
    border: 1px solid black;
    padding: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: .5s;
}
.wishlist:hover{
    color: #fff;
    background: #000;
    transition: .3s;

}