body {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(5, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
}

/*
  .container {
    max-width: 75rem;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }
  h1 {
    top: 0;
  } */
.header {
  /* *******************************************Please chk postion fixed ******************************** */
  position: fixed;
  z-index: 2;
  width: 100%;
  /* background: transparent; */
  /* padding: 1rem; */
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 2px #00000085;
  z-index: 9999;
}

.header .navbar .col-md-6 {
  position: absolute;
  width: 100%;
  left: 35%;
  
}

.header .navbar h2 {
  margin-top: 10px;
}

.header .navbar .fa-search {
  margin-left: -30px;
  padding: 6px 7px;
  background-color: rgba(0, 0, 0, 0.288);
  cursor: pointer;
}

.header .navbar input {
  width: 70%;
  margin-top: 20px;
}

.header .navbar #toggle {
  position: absolute;
  width: 2rem;
  height: 1.4rem;
  top: 2rem;
  right: 4rem;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#toggle .fa-heart-o {
  position: absolute;
  left: 40% !important;
}

.wishlist {
  background-color: #212121;
  width: 100%;
}

.header .navbar #toggle-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 1.6rem;
  height: 2px;
  background: #212121;
  transition: all 0.85s ease-in-out;
}

.header .navbar #toggle-btn::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 2rem;
  height: 2px;
  background: #212121;
  transition: all 0.85s ease-in-out;
}

.header .navbar #toggle-btn::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1.2rem;
  height: 2px;
  background: #212121;
  transition: all 0.85s ease-in-out;
}

.hover:hover:after {
  width: 100%;
  left: 0;
}

.header .navbar .open ::before {
  top: -0.9rem !important;
}

.header .navbar #toggle-btn.open {
  transform: rotate(270deg);
  background: transparent;
}

.header .navbar #toggle-btn.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.header .navbar #toggle-btn.open::after {
  width: 2rem;
  transform: rotate(-45deg) translate(3px, -6px);
}

.header .navbar #menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1;
  visibility: hidden;
}

.header .navbar #menu.open {
  visibility: visible;
}

.header .navbar #menu-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  list-style-type: none;
  padding-right: 1rem;
  background: rgb(255, 255, 255);
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.header .navbar>.ok {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  list-style-type: none;
  padding-right: 1rem;
  background: #fff;
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

.header .navbar #menu-list.open {
  transform: translateY(0);
}

.header .navbar #menu-item {
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
  padding: 1rem 0;
}

.header .navbar #menu-item.open {
  transform: translateX(0);
}

.header .navbar #menu-item.open>a {
  color: rgb(5, 5, 5);
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  font-size: 140%;
}

.hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(5, 5, 5);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;

  width: 0;
}

.header .navbar #menu-link {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: inherit;
  color: rgb(5, 5, 5);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.header .navbar #menu-link:hover {
  color: #ff652f;
}

.header .navbar #menu #menu-list #menu-item:nth-child(1) {
  transition-delay: 0.25s;
}

.header .navbar #menu #menu-list #menu-item:nth-child(2) {
  transition-delay: 0.35s;
}

.header .navbar #menu #menu-list #menu-item:nth-child(3) {
  transition-delay: 0.45s;
}

.header .navbar #menu #menu-list #menu-item:nth-child(4) {
  transition-delay: 0.55s;
}

.header .navbar .brand {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: inherit;
  color: rgb(5, 5, 5);
  text-transform: uppercase;
}

.brand a {
  color: black !important;

}

.brand a>h3 {
  font-size: 200% !important;
  font-weight: bold;
}

.brand a:hover {
  text-decoration: none;
}